<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <test name="test1" verbose="2">
		<parameter name="username" value="webdriver2015"/>
		<parameter name="passwd" value="webdriver2015"/>
	<classes>
	    <class name="com.dataDrivingTest.TestLogin" />
	   </classes>
    </test>
    <listeners>
    	<listener class-name="com.dataDrivingTest.CustomListener" />
    </listeners>
</suite>